body {
    height: auto;
}

html {
    height: auto;
}

.branch {
    border-radius: 3px;
    background-color: #E7F0F9;
    color: #1564C2;
}

.default {
    border-radius: 3px;
    background-color: #9DCBFA;
    color: white;
}

td.default span {
    color: white;
}

.link {
    color: #1564C2;
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}

table {
    font-family: helvetica neue, arial, sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    color: #151515;
    white-space:nowrap;
    min-width: 500px;
    text-align: left;
}

td.image {
    width: 20px !important;
    min-width: 20px !important;
}
td.image img {
    cursor: pointer;
    padding-right: 0 !important;
    padding-left: 2px !important;

}

td {
    padding: 0 8px 0 8px;
}

td.conf {
    padding: 0 3px 0 3px;
}

table {
    margin-left: auto;
    margin-right: auto;
}

td.conf {
    font-weight: bold;
}

td.conf span {
    display: inline;
    cursor: pointer;
}

td.conf span:hover {
    text-decoration: underline;
}

td.project {
    font-weight: bold;
    font-size: 18px !important;
    background-color: #EBEDEF;
    border-radius: 5px;
    padding: 3px;
}

td.project span {
    display: inline;
    cursor: pointer;
}

td.project span:hover {
    text-decoration: underline;
}

td.image {
    padding-right: 0 !important;
}

#server {
    text-align: right;
    border-bottom: 1px gray dotted;
    margin-bottom: 5px;
}
